input {
  margin: 0.4rem;
}

.download-link {
  font-size: large;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.options {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) { 
  .container { 
    flex-direction: column;
  }
}